h1 {
    border: 2px rgb(10, 0, 0) solid;
    color: rgba(117, 47, 46, 0.982);
    text-align: center;
    padding: 10px;
}

.table-striped{

    border: 2px rgb(10, 0, 0) solid;
    margin-right: auto;
    width: 50%;
    text-align: center;

}





