h1 {
    border: 2px rgb(10, 0, 0) solid;
    color: rgba(117, 47, 46, 0.982);
    text-align: center;
    padding: 10px;
}


.carousel-inner{
    border: 2px rgb(10, 0, 0) solid;
    margin-right: auto;
    margin-left: 50%;
}



.table table-striped{

    border: 2px rgb(10, 0, 0) solid;
    margin-right: auto;
    margin-left: 50%;






}





