{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} DETECT'IA City {% endblock %}</h1>
    <div id="carroussel" style="width:1000px;margin:0 50%;position:relative;left:-250px;">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:1000px" >
        <div class="carousel-inner">
        {% for x in range(list_filename|length)%}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}">
                  <img class="d-block w-50" src="{{ list_filename[x] }}" width="500" height="400"> 
                  <h5>{{ nom_rue[x] }}</h5>
                </div>
      
          {% endfor %} 
       </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style= "margin-top: 412px;">
          <span class="carousel-control-prev-icon bg-primary" aria-hidden="true" style = "color: rgba(1, 0, 0, 0.982);"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="right: 500px; margin-top: 412px;">
          <span class="carousel-control-next-icon bg-primary" aria-hidden="true" style = "color: rgba(1, 0, 0, 0.982);"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      </div>






{% endblock %}

